:root{
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --font-tertiary: "Montserrat", sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    /* border: 1px solid black; */
    background: rgba(87, 199, 133, 1);
}

.logoName img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
}

.logoName{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    overflow: hidden;
}

.logoName h3{
    font-size: 30px;
    font-family: var(--font-tertiary);
    color: rgba(2, 44, 96, 1);
}

nav{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

nav a{
    position: relative;
    text-decoration: none;
    font-size: 19px;
    font-family: var(--font-secondary);
    color: rgba(2, 44, 96, 1);
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgba(2, 44, 96, 1);
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.businessName.card{
    position: relative;
    padding: 50px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.businessName.card h1,
.businessName p {
    font-family: var(--font-primary);
    color: white;
    font-size: 48px;
    text-align: center;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.businessName.card h2 {
    margin-top: 20px;
    font-family: var(--font-tertiary);
    font-size: 24px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.businessName.card p{
    font-family: var(--font-tertiary);
    font-size: 16px;
}

.businessName.card hr {
    border: none;
    height: 2px;
    width: 50%;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgba(42,123,155,1) 0%, rgba(87,199,133,1) 50%, rgba(237,221,83,1) 100%);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
    /* border: 1px solid black; */
}

.view{
    /* border: 1px solid black; */
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.view button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.view button i {
    font-size: 20px;
}

main h1{
    margin-top: 20px;
    width: 100%;
    font-family: var(--font-primary);
    font-size: 27px;
}

.cards{
    width: 100%;
    /* border: 1px solid black; */
    display: grid;
	grid-gap: 0.6rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    height: 400px;
}

section h1 {
    font-size: 20px;
    font-family: var(--font-secondary)
}

section img {
    width: 50%;
}

main p{
    color: black;
    font-size: 15px;
    font-style: italic;
    font-family: var(--font-primary);
    /* border: 1px solid black; */
    width: 100%;
    /* padding: 0 10px; */
}

.contact p{
    color: black;
    font-size: 18px;
}

.listView{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
    gap: 1px;
}

.list-item{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.list-item p{
    font-size: 15px;
}

.list-item p:last-child{
    text-align: end;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background: rgba(87, 199, 133, 1);
}

.left p{
    margin-bottom: 2px;
    font-family: var(--font-primary)
}

.social-meds{
    display: flex;
    align-items: center;
}

.social-meds a i {
    font-size: 30px;
}

.social-meds a {
    color: black;

}
.right p{
    font-family: var(--font-primary)
}

