@media screen and (min-width: 320px) and (max-width: 849px){
    .first{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .first img{
        transform: translateX(0);
        animation: SlideInRight 0.5s ease-in-out forwards;
    }

    @keyframes SlideInRight {
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0)
    }
}

}

@media screen and (min-width: 850px) and (max-width: 1050px){

    .first img{
        animation: SlideInRight 0.5s ease-in-out forwards;
    }

    .cta{
        transform: translateX(-290px);
    }

    @keyframes SlideInRight{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(-400px)
    }
    }
}


