.first{
    height: 60vh;
    margin: 2rem 4rem;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.first img{
    height: 100%;
    transform: translateX(-1000px);
    filter: blur(1px);
    animation: SlideInRight 1s ease-in-out forwards;
}

.cta{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 2rem 3rem; 
}

.cta h1{
    font-size: 36px; 
}
.cta h2{
    font-size: 18px;
    font-weight: 300;
    font-family: var(--font-footer)
}
.cta h1, h2, button{
    animation: SlideInLeft 1s ease-in-out forwards
}


button{
    width: 200px;
    padding: 9px 10px;
    border-radius: 25px;
    border: none;
    background: var(--text-accent);
    color: #FAFAFA;
}


@keyframes SlideInRight {
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(-140px)
    }
}

@keyframes SlideInLeft {
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0)
    }
}