:root{
    --text-primary: #333333;
    --text-accent: #266ef2;
    --bg-color: #ffffff;
    --font-heading: "Poppins", sans-serif;
    --font-body: "Roboto", sans-serif;
    --font-footer: "Inter", sans-serif;
}

*{
    font-size: 16px;
    font-family: var(--font-body);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hamburg{
    display: none;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}

/* Header */

header{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 5px 50px;
    margin: 15px 2rem;
    border-radius: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#logo{
    width: 40px;
    height: 40px;
}

.name{
    display: flex;
    gap: 10px;
    align-items: center;
}

.name h1{
    font-size: 20px;
    font-family: var(--font-heading);
    color: var(--text-primary)
}

nav{
    display: flex;
    gap: 10px;
}

nav a{
    font-family: var(--font-heading);
    font-weight: 450;
}

/* Footer */

footer {
    background-color: var(--text-accent);
    padding: 30px;
    display: flex;
    justify-content: center;
    font-family: var(--font-footer);
    color: #FAFAFA;
}

h1.dark-mode, h2.dark-mode, h3.dark-mode, p.dark-mode, a.dark-mode{
    color: #ffffff;
}

body.active{
    background: #000;
}

#mode{
    position: fixed;
    right:25px;
    bottom: 25px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    background: #000;
}

#mode i {
    color: #ffffff;
}

#mode i.active{
    color: #000;
}