@media screen and (min-width: 1100px) and (max-width: 1500px){
    main {
        grid-template-columns: 1fr 500px;
        grid-template-rows: auto 1fr auto;
    }
    .fa-solid{
        display: none;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1099px){
    main {
        grid-template-columns: 1fr 400px;
        grid-template-rows: auto 1fr auto;
    }

    .StudentPhoto img{
        width: 50%;
        display: block;
        margin: 150px auto;
        border-radius: 10px;
    }

    .fa-solid{
        display: none;
    }
}



@media screen and (min-width: 850px) and (max-width: 999px){
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .StudentPhoto img{
        width: 50%;
        display: block;
        margin: 150px auto;
        border-radius: 10px;
    }

    nav{
        display: none;
    }

    .navOps.activeMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (min-width: 300px) and (max-width: 849px){
     main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
   .AboutMe p{
    font-size:13px;
   }
   .certificateList{
    display: flex;
    flex-wrap: wrap;
   }
   .footer-details p, span{
    font-size: 12px;
   }
   .modified p{
    font-size: 10px;
   }
   .cert-block{
    padding: 10px;
    width: 100px;
    border-radius: 9px;
    background: var(--custom-bg);
    }
    .cert-title{
    text-align: center;
    color: white;
    font-size: 10px;
    }
    
    .navOps{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navOps.activeMenu {
        display: flex;
    }
}


